In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
datafile_train=r'C:/Samita/Data science course/Python/Project/healthcare/train.csv'
datafile_test=r'C:/Samita/Data science course/Python/Project/healthcare/test_share.csv'
bd_train=pd.read_csv(datafile_train)
bd_test=pd.read_csv(datafile_test)

In [3]:
medical_hist=r'C:/Samita/Data science course/Python/Project/healthcare/medical_history.csv'
demo_det=r'C:/Samita/Data science course/Python/Project/healthcare/demographic_details.csv'

In [4]:
med=pd.read_csv(medical_hist)

In [5]:
dem=pd.read_csv(demo_det)

In [6]:
med.nunique()

PatientId       62299
Hipertension        2
Diabetes            2
Alcoholism          2
Handcap             5
dtype: int64

In [7]:
dem.nunique()

PatientId        62299
Gender               2
Age                104
Neighbourhood       81
Scholarship          2
dtype: int64

In [8]:
comb=pd.merge(med,dem,how='outer',on='PatientId')

In [9]:
comb.head()

,PatientId,Hipertension,Diabetes,Alcoholism,Handcap,Gender,Age,Neighbourhood,Scholarship
0,2.987250e+13,1,0,0,0,F,62,JARDIM DA PENHA,0
1,5.589978e+14,0,0,0,0,M,56,JARDIM DA PENHA,0
2,4.262962e+12,0,0,0,0,F,62,MATA DA PRAIA,0
3,8.679512e+11,0,0,0,0,F,8,PONTAL DE CAMBURI,0
4,8.841186e+12,1,1,0,0,F,56,JARDIM DA PENHA,0

In [10]:
bd_train.head()

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No

In [11]:
train=pd.merge(bd_train,comb,how='left',on='PatientId')
test=pd.merge(bd_test,comb,how='left',on='PatientId')

In [12]:
train.head()

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show,Hipertension,Diabetes,Alcoholism,Handcap,Gender,Age,Neighbourhood,Scholarship
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,F,62,JARDIM DA PENHA,0
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,M,56,JARDIM DA PENHA,0
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,F,8,PONTAL DE CAMBURI,0
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No,1,1,0,0,F,56,JARDIM DA PENHA,0
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,F,76,REPÚBLICA,0

In [13]:
test.head()

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,Hipertension,Diabetes,Alcoholism,Handcap,Gender,Age,Neighbourhood,Scholarship
0,7.223289e+12,5640433,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,0,0,0,0,0,F,46,DA PENHA,0
1,8.632298e+14,5616091,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,1,0,0,0,0,M,13,CONQUISTA,0
2,4.438587e+14,5637909,2016-04-29T07:30:31Z,2016-04-29T00:00:00Z,0,0,0,0,0,M,6,CONQUISTA,0
3,4.179932e+13,5638018,2016-04-29T07:37:45Z,2016-04-29T00:00:00Z,0,0,0,0,0,M,2,NOVA PALESTINA,0
4,3.647762e+13,5614045,2016-04-25T10:01:13Z,2016-04-29T00:00:00Z,1,0,0,0,0,F,3,CONQUISTA,1

In [14]:
train.nunique()

PatientId         56069
AppointmentID     99490
ScheduledDay      93643
AppointmentDay       27
SMS_received          2
No-show               2
Hipertension          2
Diabetes              2
Alcoholism            2
Handcap               5
Gender                2
Age                 104
Neighbourhood        81
Scholarship           2
dtype: int64

In [15]:
drop_cols=['PatientId', 'AppointmentID']

In [16]:
train.drop(drop_cols,1,inplace=True)
test.drop(drop_cols,1,inplace=True)

In [17]:
train['data']='train'
test['data']='test'

all_data=pd.concat([train,test],0,sort=False)

In [18]:
all_data['Age'].value_counts()

 0      3601
 1      2221
 56     1700
 52     1699
 53     1698
        ...
 100       5
 115       5
 102       4
 99        1
-1         1
Name: Age, Length: 104, dtype: int64

In [19]:
all_data.rename(columns = {'Hipertension': 'Hypertension',
                         'Handcap': 'Handicap'}, inplace = True)

In [20]:
all_data['gender_f']=(all_data['Gender']=='F').astype(int)
del all_data['Gender']

In [21]:
k=all_data['Neighbourhood'].value_counts()
cats=k[k>1500].index

In [22]:
for cat in cats:
    name='Neighbourhood_'+cat
    all_data[name]=(all_data['Neighbourhood']==cat).astype(int)
del all_data['Neighbourhood']

In [23]:
#all_data.isnull().sum()

In [24]:
all_data.shape

(110344, 40)

In [25]:
all_data.head()

,ScheduledDay,AppointmentDay,SMS_received,No-show,Hypertension,Diabetes,Alcoholism,Handicap,Age,Scholarship,...,Neighbourhood_ANDORINHAS,Neighbourhood_ROMÃO,Neighbourhood_GURIGICA,Neighbourhood_SÃO JOSÉ,Neighbourhood_BELA VISTA,Neighbourhood_MARUÍPE,Neighbourhood_ILHA DE SANTA MARIA,Neighbourhood_FORTE SÃO JOÃO,Neighbourhood_SÃO CRISTÓVÃO,Neighbourhood_REDENÇÃO
0,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,62,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,56,0,...,0,0,0,0,0,0,0,0,0,0
2,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No,1,1,0,0,56,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No,1,0,0,0,76,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
index = all_data[(all_data['Age'] >= 116)|(all_data['Age'] < 0)].index
all_data.drop(index, inplace=True)
#all_data['Age'].describe()

In [27]:
all_data['Age'].value_counts()

0      3601
1      2221
56     1700
52     1699
53     1698
       ...
98        7
100       5
115       5
102       4
99        1
Name: Age, Length: 103, dtype: int64

In [28]:
all_data['No-show'] = all_data['No-show'].map({'Yes':1, 'No':0})

In [29]:
all_data.AppointmentDay = all_data.AppointmentDay.apply(np.datetime64)
all_data.ScheduledDay = all_data.ScheduledDay.apply(np.datetime64)

In [30]:
all_data['WaitingTime'] = pd.to_timedelta((all_data['AppointmentDay'] - all_data['ScheduledDay'])).dt.days
all_data['WaitingTime'] = all_data['WaitingTime'].apply(np.int64)

In [31]:
drop_cols2=['AppointmentDay', 'ScheduledDay']

In [32]:
all_data.drop(drop_cols2,1,inplace=True)

In [33]:
all_data.head()

,SMS_received,No-show,Hypertension,Diabetes,Alcoholism,Handicap,Age,Scholarship,data,gender_f,...,Neighbourhood_ROMÃO,Neighbourhood_GURIGICA,Neighbourhood_SÃO JOSÉ,Neighbourhood_BELA VISTA,Neighbourhood_MARUÍPE,Neighbourhood_ILHA DE SANTA MARIA,Neighbourhood_FORTE SÃO JOÃO,Neighbourhood_SÃO CRISTÓVÃO,Neighbourhood_REDENÇÃO,WaitingTime
0,0,0.0,1,0,0,0,62,0,train,1,...,0,0,0,0,0,0,0,0,0,-1
1,0,0.0,0,0,0,0,56,0,train,0,...,0,0,0,0,0,0,0,0,0,-1
2,0,0.0,0,0,0,0,8,0,train,1,...,0,0,0,0,0,0,0,0,0,-1
3,0,0.0,1,1,0,0,56,0,train,1,...,0,0,0,0,0,0,0,0,0,-1
4,0,0.0,1,0,0,0,76,0,train,1,...,0,0,0,0,0,0,0,0,0,1

# Splitting data into train & test

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
train_h = all_data[all_data['data']=='train']
del train_h['data']
test_h = all_data[all_data['data']=='test']
test_h.drop(['data','No-show'],axis=1,inplace=True)

In [36]:
train_h.shape,test_h.shape

((99489, 38), (10854, 37))

In [37]:
X = train_h.drop(['No-show'],1)
y = train_h['No-show']
X.shape, y.shape

((99489, 37), (99489,))

In [38]:
from sklearn.model_selection import train_test_split,KFold

In [39]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=123)

In [40]:
X_train.shape,y_train.shape

((79591, 37), (79591,))

In [41]:
X_val.shape,y_val.shape

((19898, 37), (19898,))

#  Logistic regression

In [265]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [266]:
params={'penalty':['l1','l2'],'class_weight':['balanced',None],
        'C':np.linspace(0.01,100,100)}

In [ ]:
model=LogisticRegression()

In [ ]:
rs=RandomizedSearchCV(model,param_distributions=params,n_iter=10,
                      scoring='roc_auc',cv=10,n_jobs=-1,verbose=20)

In [ ]:
rs.fit(X_train,y_train)

In [ ]:
pred = rs.predict_proba(X_val)[:,1]

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
roc_auc_score(y_val,pred)

# Random Forest

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
clf = RandomForestClassifier()

In [44]:
params = {
    'n_estimators':[100,200,300,500,700,1000],
    'max_features':[5,10,20,25,30,35],
    'bootstrap':[True,False],
    'criterion' : ["gini", "entropy"],
    'max_depth':[None,5,10,15,20,30,50,70],
    'min_samples_split':[2,5,10,15,20],
    'min_samples_leaf':[1,2,5,10,15,20],
    'class_weight':[None,'balanced']
}

In [45]:
from sklearn.model_selection import RandomizedSearchCV

In [46]:
random_search = RandomizedSearchCV(clf,param_distributions=params,n_iter=5,scoring='roc_auc',cv=5,n_jobs=-1,verbose=20)

In [47]:
random_search.fit(X_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done  12 out of  25 | elapsed:  9.1min remaining:  9.8min
[Parallel(n_jobs=-1)]: Done  14 out of  25 | elapsed:  9.4min remaining:  7.4min
[Parallel(n_jobs=-1)]: Done  16 out of  25 | elapsed:  9.9min remaining:  5.6min
[Parallel(n_jobs=-1)]: Done  18 out of  25 | elapsed: 10.5min remaining:  4.1min
[Parallel(n_jobs=-1)]: Done  20 out of  25 | elapsed: 11.0min remaining:  2.7min
[Parallel(n_jobs=-1)]: Done  22 out of  25 | elapsed: 11.2min remaining:  1.5min
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed: 11.7min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                                        'class_weight': [None, 'balanced'],
                                        'criterion': ['gini', 'entropy'],
                                        'max_depth': [None, 5, 10, 15, 20, 30,
                                                      50, 70],
                                        'max_features': [5, 10, 20, 25, 30, 35],
                                        'min_samples_leaf': [1, 2, 5, 10, 15,
                                                             20],
                                        'min_samples_split': [2, 5, 10, 15, 20],
                                        'n_estimators': [100, 200, 300, 500,
                                                         700, 1000]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=20)

In [48]:
rf = RandomForestClassifier(n_estimators= 100,min_samples_split= 2, min_samples_leaf=20, max_features= 10,
                            max_depth= 15, criterion= 'entropy', class_weight= None, bootstrap= True)

In [49]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=15, max_features=10,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [50]:
pred = rf.predict_proba(X_val)[:,1]

In [51]:
from sklearn.metrics import roc_auc_score

In [60]:
roc_auc_score(y_val,pred)

0.7371559790493432

In [63]:
import os
submissions=pd.DataFrame({'No-show':rf.predict_proba(test_h)[:,1]})
submissions.to_csv('Samita_Gawas_P6_1.csv',index=False)